<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hero App</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <style>
        body { padding-top:15px; background-color: #ccc;}
        img { width: 100%;}
        
    </style>
 
</head>
<body>
<% include partials/menu.ejs %>

<div class="container">
    <div class="panel panel-danger">
      <div class="panel panel-heading text-center">
          <h1>Cars Archive</h1>
      </div>
      <div class="panel-body" id="all">
            

      </div>
 
<!-- <script src="js/ejs.min.js"></script> -->
<script>
  //the url we are making a request to
  var url = "http://localhost:8000/pokemon";
  $.ajax({
      url: url,
      method: 'get',
      success: function(data){
          //do something when call is successful
          // console.log(data);
          let pokemon = data;
          
          // With jQuery:
        //   $('#all').html(html);
          // Vanilla JS:
          var html= document.getElementById('all').innerHTML;
      }, 
      error: function(error){
          console.log(error);
      }
  });
</script>

<script>
  //targeting my container
  var box = document.getElementById('all');
  //the url we are making a request to
  var url = "http://localhost:8000/pokemon";
  $.ajax({
      url: url,
      method: 'get',
      success: function(data){
        //   do something when call is successful
          console.log(data);
          $.each(data, function(index, value){
              var container = document.createElement('div');
              container.className = 'col-xs-6 col-md-2';
              var panel = document.createElement('div');
              panel.className = 'panel panel-default';
              var body = document.createElement('div');
              body.className = "panel-body";
              var footer = document.createElement('div');
              footer.className = 'panel-footer';
              var image = document.createElement('IMG');
              image.setAttribute('src', value.image);
              var name = document.createTextNode(value.name);
              footer.appendChild(name);
              body.appendChild(image);
              panel.appendChild(body);
              panel.appendChild(footer);
              container.appendChild(panel);
              box.appendChild(container);
              
          });
      }, 
      error: function(error){
          console.log(error);
      }
  });
</script>

</body>
</html>