<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hero App</title>

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">



    <link href="https://fonts.googleapis.com/css?family=Staatliches" rel="stylesheet">
  <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
    rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    
  <script src='/javascripts/main.js'></script>
  <link rel="stylesheet" href='/stylesheets/style.css'>
    <style>
        body { padding-top:15px; background-color: #ccc;}
        img { width: 100%;}
        
    </style>
 
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>
<div class="container-fluid bg-3 text-center">
        <div flex layout-padding>
                <div id="banner">
                <h2 class="md-display-2">TUNER CAR BLOG</h2>
                <p>Car tuning is the modification of the performance or appearance of a vehicle. For actual "tuning" in the sense of automobiles or vehicles, see engine tuning. Most vehicles stay the factory set up for an average driver's expectations and conditions. Tuning, on the other hand, has become a way to personalize the characteristics of a vehicle to the owner's preference. Cars may be altered to provide better fuel economy, produce more power, or provide better handling and driving.
          
                    Car tuning is related to auto racing, although most performance cars never compete. Tuned cars are built for the pleasure of owning and driving. Exterior modifications include changing the aerodynamic characteristics of the vehicle via side skirts, front and rear bumpers, spoilers, splitters or air vents and lightweight wheels.</p>
              </div>
            </div>  
  <h2 class="md-display-2"><%= page %></h2><br>
   <div class="row">
    <div class="col-sm-4">
        <img src="https://images.complex.com/complex/image/upload/c_limit,w_680/fl_lossy,pg_1,q_auto/sqy1qe7c6pj3h1xdur4k.jpg" alt="">
      <p>Years Of Production: 1964-Present
            Potential: Shocking
            Complex Says: People have tuned Mustangs to make more than 1,000hp. That is all.
            The 1979 introduction of the “Fox-body” ‘Stang and subsequent decades of development proved that this muscle car could survive in the era of electronic fuel injection and emissions regulations, while still remaining attractive to hot rodders.

            That’s still the case today. It may not be your father’s Mustang, but does look (and move) like it, and a new range of turbocharged EcoBoost engines and track-focused Shelby models are increasing the ‘Stang’s appeal even more.</p>
      
    </div>
    <div class="col-sm-4"> 
        <img src="https://images.complex.com/complex/image/upload/c_limit,w_680/fl_lossy,pg_1,q_auto/yv0720suiugfkroghayd.jpg" alt="">
      <p>Honda’s S2000 was a convertible-exclusive sports car designed to celebrate the brand’s 50th anniversary. Production spanned 10 years from 1999-2009, and during that time, the car built a cult following for its precise handling, light frame, and high-revving engine (redline was 8,800 rpm for the first few model years).

        Along with Mazda’s Miata, the S2000 is one of the best entry points for those looking to conquer track days. Some of the best mods for the S2000 include bigger front and rear sway bars, more aggressive brake pads, and wider wheels to accommodate beefier tires. And before you consider adding power, try lightening the car for a better power-to-weight ratio.</p>
    </div>
    <div class="col-sm-4"> 
        <img src="http://img.digitaltrends.com/image/evo-720x720.jpg" alt="">
      <p>In the 1990s, Mitsubishi led the pack of high-tech Japanese performance cars with models like the 3000GT, Galant VR-4, and its greatest creation, the Lancer Evolution. They’re all gone today, sadly, but the Evo in particular left a long, sideways skid mark in the automotive history books.

        The Evo slowly but surely gained its reputation throughout the 1990s with World Rally Championship success, but a few PlayStation games and a 2003 U.S. debut later, and you have a bonafide performance phenomenon.
        
        Featuring sophisticated all-wheel drive systems and endlessly tunable turbo engines, these diamond-star warriors are still favorites among people who spend their off hours at the track.</p>
    </div>
  </div>

  <div class="row">
        <div class="col-sm-4">
            <img src="https://www.popsci.com/sites/popsci.com/files/styles/1000_1x_/public/images/2018/03/senna.jpg?itok=eYNPMGjA&fc=50,50" alt="">
          <p>McLaren Senna
                This swoopy supercar gets its name from one of racing’s most famous drivers: Ayrton Senna, who died in 1994 after a crash at the San Marino Grand Prix. It uses a 4-liter, turbocharged V8 motor that pushes 789 horsepower. That’s a lot for a car that weighs roughly 2,700 pounds. All that power puts its acceleration on another level—its 0-60 mph time is a ridiculous 2.8 seconds. It’s a race car that crawls in just under the regulations that make it road legal.</p>
          
        </div>
        <div class="col-sm-4"> 
            <img src="https://icdn4.digitaltrends.com/image/rg-2018-volkswagen-coming-home-7-720x720.jpg" alt="">
          <p>With the original GTI, Volkswagen invented the modern hot hatchback, but its combination of performance and practicality is as appealing today as ever.

            The GTI helped launch a Euro-themed tuning subculture that’s as vibrant as any in the car world, and both the R32 and Golf R cemented its place in history. The result is a nameplate that — like most others listed here — comes with an avalanche of available aftermarket parts, as well as a massive nationwide network of enthusiasts. You can tune any generation of the Golf, from the original model made in the 1970s to the current, seventh-generation car.</p>
        </div>
        <div class="col-sm-4"> 
            <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/subaru-impreza-wrx-sti-2006-1280-01-1548681228.jpg?crop=1xw:1xh;center,top&resize=4608:*" alt="">
          <p>Subaru Impreza STI
            Like all Subarus, the turbocharged boxer benefits from standard AWD, making it a terror on highways and rally circuits alike. The car was originally known for its trademark bubble headlights, though its polarizing looks became less controversial—and downright sexy—over the years. Still, let's take a break from the blue paint and bronze wheels. Okay, WRX owners?</p>
        </div>
      </div>
</div> 


<!-- footer -->
<footer class="flex-rw">
  
  <ul class="footer-list-top">
    <li>
      <h4 class="footer-list-header">About Car tuner</h4></li>
    <li><a href='' class="generic-anchor footer-list-anchor" itemprop="significantLink">GET TO KNOW US</a></li>
    <li><a href='' class="generic-anchor footer-list-anchor" itemprop="significantLink">PROMOS</a></li>
    <li><a href='' class="generic-anchor footer-list-anchor" itemprop="significantLink">BECOME A BLOGER</a></li>
    <li><a href='' class="generic-anchor footer-list-anchor" itemprop="significantLink">EVENTS</a></li>
  </ul>
  <ul class="footer-list-top">
    <li>
      <h4 class="footer-list-header">The Gift Selection</h4></li>


    <li><a href='' class="generic-anchor footer-list-anchor">CAR ACCESSORIES</a></li>
    <li><a href='' class="generic-anchor footer-list-anchor">SOUND SYSTEMS</a></li>
    <li><a href='' class="generic-anchor footer-list-anchor">MAGS AND RACING WHEELS</a></li>
  </ul>
  <ul class="footer-list-top">
    <li id='help'>
      <h4 class="footer-list-header">Please Help Me</h4></li>
    <li><a href='' class="generic-anchor footer-list-anchor" itemprop="significantLink">CONTACT</a></li>
    <li><a href='/faq.html' class="generic-anchor footer-list-anchor" itemprop="significantLink">FAQ</a></li>
    <li id='user-registration'><a href='' class="generic-anchor footer-list-anchor" itemprop="significantLink">NEW USERS</a></li>
    <li id='order-tracking'><a href='' itemprop="significantLink" class="generic-anchor footer-list-anchor">ORDER STATUS</a></li>
  </ul>
  <section class="footer-social-section flex-rw">
      <span class="footer-social-overlap footer-social-connect">
      CONNECT <span class="footer-social-small">with</span> US
      </span>
      <span class="footer-social-overlap footer-social-icons-wrapper">
      <a href="" class="generic-anchor" target="_blank" title="Facebook" itemprop="significantLink"><i class="fab fa-facebook"></i></a>
      <a href="" class="generic-anchor" target="_blank" title="Twitter" itemprop="significantLink"><i class="fab fa-twitter"></i></a>
      <a href="" class="generic-anchor" target="_blank" title="Instagram" itemprop="significantLink"><i class="fab fa-instagram"></i></a>
      <a href="" class="generic-anchor" target="_blank" title="Youtube" itemprop="significantLink"><i class="fab fa-youtube"></i></a>
      <a href="" class="generic-anchor" target="_blank" title="Google Plus" itemprop="significantLink"><i class="fab fa-google-plus"></i></a>
      </span>
  </section>
  <section class="footer-bottom-section flex-rw">
<div class="footer-bottom-wrapper">   
<i class="fa fa-copyright" role="copyright">
 
</i> 2019 Tuner Car Blog <address class="footer-address" role="company address">OTTERY, CPT</address><span class="footer-bottom-rights"> - All Rights Reserved - Ishmail</span>
    </div>
  </section>
</footer>


</body>
<% include partials/script %>
</html>