<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hero App</title>

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Staatliches" rel="stylesheet">
  <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
    rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <style>
        body { padding-top:15px; background-color: #ccc;}
        img { width: 100%;}
        
    </style>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>
<div class="container-fluid bg-3 text-center">
        <div flex layout-padding>
                <div id="banner">
                <h2 class="md-display-2">TUNER CAR BLOG</h2>
                <p>Car tuning is the modification of the performance or appearance of a vehicle. For actual "tuning" in the sense of automobiles or vehicles, see engine tuning. Most vehicles stay the factory set up for an average driver's expectations and conditions. Tuning, on the other hand, has become a way to personalize the characteristics of a vehicle to the owner's preference. Cars may be altered to provide better fuel economy, produce more power, or provide better handling and driving.
          
                    Car tuning is related to auto racing, although most performance cars never compete. Tuned cars are built for the pleasure of owning and driving. Exterior modifications include changing the aerodynamic characteristics of the vehicle via side skirts, front and rear bumpers, spoilers, splitters or air vents and lightweight wheels.</p>
              </div>
            </div>  
  <h2 class="md-display-2"><%= page %></h2><br>
   <div class="row">
    <div class="col-sm-4">
        <img src="https://images.complex.com/complex/image/upload/c_limit,w_680/fl_lossy,pg_1,q_auto/sqy1qe7c6pj3h1xdur4k.jpg" alt="">
      <p>Years Of Production: 1964-Present
            Potential: Shocking
            Complex Says: People have tuned Mustangs to make more than 1,000hp. That is all.</p>
      
    </div>
    <div class="col-sm-4"> 
        <img src="https://images.complex.com/complex/image/upload/c_limit,w_680/fl_lossy,pg_1,q_auto/yv0720suiugfkroghayd.jpg" alt="">
      <p>Years Of Production: 1999-2009
            Potential: Race-spec
            Complex Says: There's not much to tune on the brilliant Honda S2000. Just put in a few upgrades to make it race-worthy, and you have a really cool car.</p>
    </div>
    <div class="col-sm-4"> 
        <img src="https://images.complex.com/complex/image/upload/c_limit,w_680/fl_lossy,pg_1,q_auto/qkle8wmfn7p2qevina68.jpg" alt="">
      <p>Years Of Production: 1938-2003
            Potential: Hilarious
            Complex Says: Beetles have been turned into dune-racing Baja Bugs, tire-shredding drag racers, sports cars, and who the heck knows what else. What do you plan to do with yours?</p>
    </div>
  </div>
</div> 
<!-- TEST -->
<!-- <div class="container-fluid bg-3 text-center">     -->
  <!-- <h3><%= page %></h3><br> -->
  <!-- <div class="row">
    <div class="col-sm-4">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      
    </div>
    <div class="col-sm-4"> 
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="col-sm-4"> 
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
</div> -->

      <div class="panel-body" id="all">

      </div>
<!-- <script src="js/ejs.min.js"></script> -->
<script>
        //the url we are making a request to
        var url = "http://localhost:8000/pokemon";
        $.ajax({
            url: url,
            method: 'get',
            success: function(data){
                //do something when call is successful
                // console.log(data);
                let pokemon = data;
                
                // With jQuery:
              //   $('#all').html(html);
                // Vanilla JS:
                var html= document.getElementById('all').innerHTML;
            }, 
            error: function(error){
                console.log(error);
            }
        });
      </script>
      
      <script>
        //targeting my container
        var box = document.getElementById('all');
        //the url we are making a request to
        var url = "http://localhost:8000/pokemon";
        $.ajax({
            url: url,
            method: 'get',
            success: function(data){
              //   do something when call is successful
                console.log(data);
                $.each(data, function(index, value){
                    var container = document.createElement('div');
                    container.className = 'col-xs-6 col-md-2';
                    var panel = document.createElement('div');
                    panel.className = 'panel panel-default';
                    var body = document.createElement('div');
                    body.className = "panel-body";
                    var footer = document.createElement('div');
                    footer.className = 'panel-footer';
                    var image = document.createElement('IMG');
                    image.setAttribute('src', value.image);
                    var name = document.createTextNode(value.name);
                    footer.appendChild(name);
                    body.appendChild(image);
                    panel.appendChild(body);
                    panel.appendChild(footer);
                    container.appendChild(panel);
                    box.appendChild(container);
                    
                });
            }, 
            error: function(error){
                console.log(error);
            }
        });
      </script>

</body>
<% include partials/script %>
</html>