body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.bg-3 { 
  background-color: #ffffff;
  color: #555555;
}
.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}
.navbar-nav  li a:hover {
  color: #1abc9c !important;
}
.active>a {
color: #1abc9c !important;;
}

#banner{
  background-image: url("http://1.bp.blogspot.com/-ZQ4OkBfUgas/UWxfX5N5D5I/AAAAAAAAao0/k9S2CThiNFs/s1600/Nissan+Skyline+GT-R++1968-1972.jpg" );
  height: 100%;
  background-color:rgb(146, 146, 146);
  background-size: contain;
  background-blend-mode: multiply; 
  
  
}

#banner h2{
  font-family: 'Luckiest Guy', cursive;
  font-size: 100px;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white , 0 -1px white}

#banner p{
  color: aliceblue;
  font-size: 25px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h2{
  font-family: 'Staatliches', cursive;
  font-size: 100px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}


.col-md-2 {
  width: 50%;
}



/* test */

